{{ if .Site.Data.homepage.lydrejser.enable }}
<section class="section section--border-bottom rad-animation-group pb-0 " id="lydrejser">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.lydrejser.title }}</h2>
        {{ .Site.Data.homepage.lydrejser.content | safeHTML }}
      </div>
      <div class="about__profile-picture col-12 col-md-6">
        {{ $img := resources.Get .Site.Data.homepage.lydrejser.image.x }}
        {{ $img2x := resources.Get .Site.Data.homepage.lydrejser.image._2x }}      
        {{ $imgWebp := $img.Resize (printf "%dx%d webp" $img.Width $img.Height) }}
        {{ $img2xWebp := $img.Resize (printf "%dx%d webp" $img2x.Width $img2x.Height) }}
        <picture>
          <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
          <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
          <img
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            class="lozad img-responsive image-right-overflow"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            data-src="{{ $img.RelPermalink }}"
            data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            alt="Lydrejsekuffert"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
{{ end }}
